// ==================================
// Global Config variables
// ==================================
//$background-color--container:#3F3F3F;

@mixin border-radius($rad) {
	-webkit-border-radius: $rad; 
	-moz-border-radius: $rad; 
	border-radius: $rad; 
}

/* Fonts
=====================================*/



/* Backgrounds
=====================================*/



/* border-colors:
=====================================*/




/* pseudo class colors:
=====================================*/

